<!DOCTYPE html>
<html>
  <head>
    <title>UnoPeloton</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
    <script
      src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"
      data-auto-a11y="true"
    ></script>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('peleton-standard-logo.svg') %>"
    </script>
  </head>

  <body>
    
    <%= yield %>
  </body>
</html>
